.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
  background-color: white;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.l1 {
  color: orange;
}

.l2 {
  color: #2be6ff;
}

.l3 {
  color: #da2a2a;
}

.l4 {
  color: #4f68e7;
}

.l5 {
  color: #e74fc9;
}
