/* --------------------------------

Nucleo Outline Web Font - nucleoapp.com/
License - nucleoapp.com/license/
Created using IcoMoon - icomoon.io

-------------------------------- */

@font-face {
  font-family: "Nucleo Outline";
  src: url("~assets/fonts/nucleo-outline.eot");
  src: url("~assets/fonts/nucleo-outline.eot") format("embedded-opentype"),
    url("~assets/fonts/nucleo-outline.woff2") format("woff2"),
    url("~assets/fonts/nucleo-outline.woff") format("woff"),
    url("~assets/fonts/nucleo-outline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*------------------------
	base class definition
-------------------------*/

.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  change icon size
-------------------------*/

/*----------------------------------
  add a square/circle background
-----------------------------------*/

.now-ui-icons.circle {
  padding: 0.33333333em;
  vertical-align: -16%;
  background-color: #eee;
}

.now-ui-icons.circle {
  border-radius: 50%;
}

/*------------------------
  list icons
-------------------------*/

.nc-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.nc-icon-ul > li {
  position: relative;
}

.nc-icon-ul > li > .now-ui-icons {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}

.nc-icon-ul > li > .now-ui-icons.circle {
  top: -0.19047619em;
  left: -1.9047619em;
}

/*------------------------
  spinning icons
-------------------------*/

.now-ui-icons.spin {
  -webkit-animation: nc-icon-spin 2s infinite linear;
  -moz-animation: nc-icon-spin 2s infinite linear;
  animation: nc-icon-spin 2s infinite linear;
}

@-webkit-keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes nc-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------
  rotated/flipped icons
-------------------------*/

/*------------------------
	font icons
-------------------------*/

.now-ui-icons.ui-1_check:before {
  content: r"\ea22";
}

.now-ui-icons.ui-1_email-85:before {
  content: r"\ea2a";
}

.now-ui-icons.arrows-1_cloud-download-93:before {
  content: r"\ea21";
}

.now-ui-icons.arrows-1_cloud-upload-94:before {
  content: r"\ea24";
}

.now-ui-icons.arrows-1_minimal-down:before {
  content: r"\ea39";
}

.now-ui-icons.arrows-1_minimal-left:before {
  content: r"\ea3a";
}

.now-ui-icons.arrows-1_minimal-right:before {
  content: r"\ea3b";
}

.now-ui-icons.arrows-1_minimal-up:before {
  content: r"\ea3c";
}

.now-ui-icons.arrows-1_refresh-69:before {
  content: r"\ea44";
}

.now-ui-icons.arrows-1_share-66:before {
  content: r"\ea4c";
}

.now-ui-icons.business_badge:before {
  content: r"\ea09";
}

.now-ui-icons.business_bank:before {
  content: r"\ea0a";
}

.now-ui-icons.business_briefcase-24:before {
  content: r"\ea13";
}

.now-ui-icons.business_bulb-63:before {
  content: r"\ea15";
}

.now-ui-icons.business_chart-bar-32:before {
  content: r"\ea1e";
}

.now-ui-icons.business_chart-pie-36:before {
  content: r"\ea1f";
}

.now-ui-icons.business_globe:before {
  content: r"\ea2f";
}

.now-ui-icons.business_money-coins:before {
  content: r"\ea40";
}

.now-ui-icons.clothes_tie-bow:before {
  content: r"\ea5b";
}

.now-ui-icons.design_vector:before {
  content: r"\ea61";
}

.now-ui-icons.design_app:before {
  content: r"\ea08";
}

.now-ui-icons.design_bullet-list-67:before {
  content: r"\ea14";
}

.now-ui-icons.design_image:before {
  content: r"\ea33";
}

.now-ui-icons.design_palette:before {
  content: r"\ea41";
}

.now-ui-icons.design_scissors:before {
  content: r"\ea4a";
}

.now-ui-icons.design-2_html5:before {
  content: r"\ea32";
}

.now-ui-icons.design-2_ruler-pencil:before {
  content: r"\ea48";
}

.now-ui-icons.emoticons_satisfied:before {
  content: r"\ea49";
}

.now-ui-icons.files_box:before {
  content: r"\ea12";
}

.now-ui-icons.files_paper:before {
  content: r"\ea43";
}

.now-ui-icons.files_single-copy-4:before {
  content: r"\ea52";
}

.now-ui-icons.health_ambulance:before {
  content: r"\ea07";
}

.now-ui-icons.loader_gear:before {
  content: r"\ea4e";
}

.now-ui-icons.loader_refresh:before {
  content: r"\ea44";
}

.now-ui-icons.location_bookmark:before {
  content: r"\ea10";
}

.now-ui-icons.location_compass-5:before {
  content: r"\ea25";
}

.now-ui-icons.location_map-big:before {
  content: r"\ea3d";
}

.now-ui-icons.location_pin:before {
  content: r"\ea47";
}

.now-ui-icons.location_world:before {
  content: r"\ea63";
}

.now-ui-icons.media-1_album:before {
  content: r"\ea02";
}

.now-ui-icons.media-1_button-pause:before {
  content: r"\ea16";
}

.now-ui-icons.media-1_button-play:before {
  content: r"\ea18";
}

.now-ui-icons.media-1_button-power:before {
  content: r"\ea19";
}

.now-ui-icons.media-1_camera-compact:before {
  content: r"\ea1c";
}

.now-ui-icons.media-2_note-3:before {
  content: r"\ea3f";
}

.now-ui-icons.media-2_sound-wave:before {
  content: r"\ea57";
}

.now-ui-icons.objects_diamond:before {
  content: r"\ea29";
}

.now-ui-icons.objects_globe:before {
  content: r"\ea2f";
}

.now-ui-icons.objects_key-25:before {
  content: r"\ea38";
}

.now-ui-icons.objects_planet:before {
  content: r"\ea46";
}

.now-ui-icons.objects_spaceship:before {
  content: r"\ea55";
}

.now-ui-icons.objects_support-17:before {
  content: r"\ea56";
}

.now-ui-icons.objects_umbrella-13:before {
  content: r"\ea5f";
}

.now-ui-icons.education_agenda-bookmark:before {
  content: r"\ea01";
}

.now-ui-icons.education_atom:before {
  content: r"\ea0c";
}

.now-ui-icons.education_glasses:before {
  content: r"\ea2d";
}

.now-ui-icons.education_hat:before {
  content: r"\ea30";
}

.now-ui-icons.education_paper:before {
  content: r"\ea42";
}

.now-ui-icons.shopping_bag-16:before {
  content: r"\ea0d";
}

.now-ui-icons.shopping_basket:before {
  content: r"\ea0b";
}

.now-ui-icons.shopping_box:before {
  content: r"\ea11";
}

.now-ui-icons.shopping_cart-simple:before {
  content: r"\ea1d";
}

.now-ui-icons.shopping_credit-card:before {
  content: r"\ea28";
}

.now-ui-icons.shopping_delivery-fast:before {
  content: r"\ea27";
}

.now-ui-icons.shopping_shop:before {
  content: r"\ea50";
}

.now-ui-icons.shopping_tag-content:before {
  content: r"\ea59";
}

.now-ui-icons.sport_trophy:before {
  content: r"\ea5d";
}

.now-ui-icons.sport_user-run:before {
  content: r"\ea60";
}

.now-ui-icons.tech_controller-modern:before {
  content: r"\ea26";
}

.now-ui-icons.tech_headphones:before {
  content: r"\ea31";
}

.now-ui-icons.tech_laptop:before {
  content: r"\ea36";
}

.now-ui-icons.tech_mobile:before {
  content: r"\ea3e";
}

.now-ui-icons.tech_tablet:before {
  content: r"\ea58";
}

.now-ui-icons.tech_tv:before {
  content: r"\ea5e";
}

.now-ui-icons.tech_watch-time:before {
  content: r"\ea62";
}

.now-ui-icons.text_align-center:before {
  content: r"\ea05";
}

.now-ui-icons.text_align-left:before {
  content: r"\ea06";
}

.now-ui-icons.text_bold:before {
  content: r"\ea0e";
}

.now-ui-icons.text_caps-small:before {
  content: r"\ea1b";
}

.now-ui-icons.gestures_tap-1:before {
  content: r"\ea5a";
}

.now-ui-icons.transportation_air-baloon:before {
  content: r"\ea03";
}

.now-ui-icons.transportation_bus-front-12:before {
  content: r"\ea17";
}

.now-ui-icons.travel_info:before {
  content: r"\ea04";
}

.now-ui-icons.travel_istanbul:before {
  content: r"\ea34";
}

.now-ui-icons.ui-1_bell-53:before {
  content: r"\ea0f";
}

.now-ui-icons.ui-1_calendar-60:before {
  content: r"\ea1a";
}

.now-ui-icons.ui-1_lock-circle-open:before {
  content: r"\ea35";
}

.now-ui-icons.ui-1_send:before {
  content: r"\ea4d";
}

.now-ui-icons.ui-1_settings-gear-63:before {
  content: r"\ea4e";
}

.now-ui-icons.ui-1_simple-add:before {
  content: r"\ea4f";
}

.now-ui-icons.ui-1_simple-delete:before {
  content: r"\ea54";
}

.now-ui-icons.ui-1_simple-remove:before {
  content: r"\ea53";
}

.now-ui-icons.ui-1_zoom-bold:before {
  content: r"\ea64";
}

.now-ui-icons.ui-2_chat-round:before {
  content: r"\ea20";
}

.now-ui-icons.ui-2_favourite-28:before {
  content: r"\ea2b";
}

.now-ui-icons.ui-2_like:before {
  content: r"\ea37";
}

.now-ui-icons.ui-2_settings-90:before {
  content: r"\ea4b";
}

.now-ui-icons.ui-2_time-alarm:before {
  content: r"\ea5c";
}

.now-ui-icons.users_circle-8:before {
  content: r"\ea23";
}

.now-ui-icons.users_single-2:before {
  content: r"\ea51";
}

.all-icons .font-icon-detail {
  text-align: center;
  padding: 45px 0px 30px;
  border: 1px solid #e5e5e5;
  border-radius: 0.1875rem;
  margin: 15px 0;
  min-height: 168px;
}

.all-icons [class*="now-ui-icons"] {
  font-size: 32px;
}

.all-icons .font-icon-detail p {
  margin: 25px auto 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #b8b8b8;
  padding: 0 10px;
  font-size: 0.7142em;
}
